body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.backof{
  background-color: darkslategrey;
  
}
.uperer{
  width: 100%;
  height: 3rem;
  z-index: 1;
  position: fixed;
  background-color:floralwhite;
}
.uperer:hover{
  background-color: paleturquoise;
}
.button-s{
  width: 10rem;
  height: 2rem;
  background-color: deepskyblue;
  box-shadow: .2rem .25rem .2rem .25rem;

}
.button-s:hover{
  background-color: fuchsia;
}
